html, body {
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}



/*---Styling mobile*/

@media screen and (max-width:799px) {
    
    /*Styling header block*/

    .banner {
        max-width: 799px;
        margin: auto;
        text-align: center;
    }

    .colour-bar {
        background-color: black;
        width: 100%;
        height: 30px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .colour-bar p {
        color:white;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 1px;
        padding-top: 17px;
    }



    /*Styling nav bar*/

    .logo-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1rem; 
    }

    .logo {
        width: 85px;
        height: auto;
        display: block;
        float:left;
    }

    .navbar {
        margin: auto 0;
        padding-top: 45px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 40px;
        flex-wrap: wrap;
    }

    .navbar ul {
        list-style-type:none;
        margin: 0;
        padding: 0;
        text-align: right;
    }

    .navbar li {
        display: inline-block;
        margin-left: 10px;
        padding: 15px;
    }

    .navbar a {
        text-decoration:none;
        color: black;
        font-weight: 400;
        font-size: 11pt;
    }

    .navbar a:active {
        color: #ef512b;
    }


    .bymariacortez {
        text-align: left;
        font-size: 7.5pt;
        font-weight: 400;
        color: black;
        margin-top: 13px;
    }



    /*Styling about me bio*/

    .content {
        margin: auto;
        text-align: center;
        width: 80%;
    }

    body.about-page .about-me {
        justify-content: center;     
        margin: auto;
    }

    .about-me-photo img {
        width: 250px;
        object-fit: cover;
        border-radius: 100%;
        padding-bottom: 60px;
    }

    .bio {
        text-align: start;
        color: black;
    }

    .highlight-name {
        color: #ef512b;
        font-weight: 700;
    }

    .bio h2 {
        font-weight: 400;
        font-size:13pt;
        max-width: 800px;
        margin: 0 auto;
        text-align: start;
        padding-bottom: 10px;
    }

    .bio h3 {
        font-weight: bold;
        font-size:18pt;
        margin: 0 auto;
        text-align: start;
        padding-bottom: 10px;
    }

    .bio h4 {
        font-size: 13pt;
    }

    .bio-text {
        font-size: 11pt;
    }

    .small-bio {
        font-size: 11pt;
    }

    .social-icons-bio {
        display: flex;
        gap: 10px;
        padding-top: 10px;
    }

    .social-icons-bio i {
        color:#ef512b;
        font-size: 23pt;
        background-color: transparent;
    }

    .social-icons-bio button {
        border: none;
        background-color: transparent;
    }

    .download-resume {
        background-color: transparent;
        border: 2px solid #ef512b;
        color: #ef512b;
        padding: 10px 20px;
        border-radius: 8px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 20px;
    }
      


    /*Styling footer*/

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap; 
        padding: 2rem;
        background-color: #000;
        color: #fff;
        width: 100%;
    }

    .footer-content1, .footer-content2 {
        flex: 1 1 300px;
        max-width: 50%;
        padding: 1rem;
    }

    .footer-content2 h4 {
        font-size: 10pt;
        padding-top: 20px;
    }

    .logo-footer {
        height: 100px;
    }

    .footer-content1 p {
        font-size: 9pt;
    }


    .footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 9pt;
    }
      
    .footer li {
        margin-bottom: 0.5rem;
    }
      
    .footer a {
        color: #fff;
        text-decoration: none;
    }
      
    .social-icons {
        display: flex;
        margin-top: 1rem;
    }
      
    .social-icons button {
        background: none;
        border: none;
        font-size: 10pt;
    }
      
    .copyright {
        text-align: center;
        width: 100%;
        margin-top: 50px;
        font-size: 9pt;
    }
















}






/*---Styling desktop*/

@media screen and (min-width:800px) {
    
    /*Styling header block*/

    .colour-bar {
        background-color: black;
        width: 100%;
        height: 30px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .colour-bar p {
        color:white;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 1px;
        padding-top: 17px;
    }



    /*Styling navbar*/
    
    .logo-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1rem; 
    }

    .logo {
        width: 85px;
        height: auto;
        display: block;
        float: left;
    }

    .banner {
        max-width: 1200px;
        margin: auto;
        text-align: center;
    }

    .navbar {
        margin: auto 0;
        padding-top: 45px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 40px;
        flex-wrap: wrap;
    }

    .navbar ul {
        list-style-type:none;
        margin: 0;
        padding: 0;
        text-align: right;
    }

    .navbar li {
        display: inline-block;
        margin-left: 10px;
        padding: 15px;
    }

    .navbar a {
        text-decoration:none;
        color: black;
        font-weight: 400;
        font-size: 10pt;
    }

    .navbar a:hover {
        color: #ef512b;
        border-bottom: #ef512b 2px solid;
    }

    .bymariacortez {
        text-align: left;
        font-size: 6.5pt;
        font-weight: 400;
        color: black;
        margin-top: 13px;
    }



    /*Styling about me bio*/

    .content {
        margin: auto;
        text-align: center;
    }

    .about-me {
        display: flex;
        align-items: flex-start;
        justify-content: center;     
        flex-wrap: wrap;
        margin: auto;           
        max-width: 1000px;  
        gap: 65px;
    }

    .about-me-photo img {
        width: 300px;
        border-radius: 10px;
        object-fit: cover;
    }

    .bio {
        flex: 1;
        max-width: 600px;
        text-align: start;
        color: black;
    }

    .highlight-name {
        color: #ef512b;
        font-weight: 700;
    }

    .bio h2 {
        font-weight: 400;
        font-size:14pt;
        max-width: 800px;
        margin: 0 auto;
        text-align: start;
        padding-bottom: 10px;
    }

    .bio h3 {
        font-weight: bold;
        font-size:20pt;
        margin: 0 auto;
        text-align: start;
        padding-bottom: 10px;
    }

    .bio h4 {
        font-size: 14pt;
    }

    .bio-text {
        font-size: 12pt;
    }

    .small-bio {
        font-size: 11pt;
        width: 550px;
    }


    .social-icons-bio {
        display: flex;
        gap: 15px;
        padding-top: 10px;
    }

    .social-icons-bio i {
        color:#ef512b;
        font-size: 23pt;
    }

    .social-icons-bio button {
        border: none;
    }


    .download-resume {
        background-color: transparent;
        border: 2px solid #ef512b;
        color: #ef512b;
        padding: 10px 20px;
        border-radius: 8px;
        font-weight: 500;
        text-transform: uppercase;
        transition: all 0.3s ease;
        margin-top: 20px;
    }
      
    .download-resume:hover {
        background-color: #ef512b;
        color: black;
        text-decoration: none;
    }



    /*Styling footer*/

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap; 
        padding: 2rem;
        background-color: #000;
        color: #fff;
        width: 100%;
    }

    .footer-content1, .footer-content2 {
        flex: 1 1 300px;
        max-width: 50%;
        padding: 1rem;
    }

    .footer-content2 h4 {
        font-size: 19px;
        padding-top: 20px;
    }

    .logo-footer {
        height: 100px;
    }

    .footer-content1 p {
        font-size: 15px;
    }


    .footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 13px;
    }
      
    .footer li {
        margin-bottom: 0.5rem;
    }
      
    .footer a {
        color: #fff;
        text-decoration: none;
    }
      
    .footer a:hover {
        text-decoration: underline 1.5px solid;
    }
      
    .social-icons {
        display: flex;
        gap: 0.5rem;
        margin-top: 1rem;
    }
      
    .social-icons button {
        background: none;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
    }
      
    .copyright {
        text-align: center;
        width: 100%;
        margin-top: 50px;
        font-size: 13px;
    }

}