html, body {
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}



/*---Styling mobile*/

@media screen and (max-width:799px) {

    /*Styling header block*/

    .banner {
        max-width: 799px;
        margin: auto;
        text-align: center;
    }

    .colour-bar {
        background-color: black;
        width: 100%;
        height: 30px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .colour-bar p {
        color:white;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 1px;
        padding-top: 17px;
    }



    /*Styling nav bar*/

    .logo-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1rem; 
    }

    .logo {
        width: 85px;
        height: auto;
        display: block;
        float:left;
    }

    .navbar {
        margin: auto 0;
        padding-top: 45px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 40px;
        flex-wrap: wrap;
    }

    .navbar ul {
        list-style-type:none;
        margin: 0;
        padding: 0;
        text-align: right;
    }

    .navbar li {
        display: inline-block;
        margin-left: 10px;
        padding: 15px;
    }

    .navbar a {
        text-decoration:none;
        color: black;
        font-weight: 400;
        font-size: 11pt;
    }

    .navbar a:active {
        color: #ef512b;
    }


    .bymariacortez {
        text-align: left;
        font-size: 7.5pt;
        font-weight: 400;
        color: black;
        margin-top: 13px;
    }



    /*Styling content*/

    .content {
        margin: auto;
        text-align: center;
    }

    .content h1 {
        font-size: 18pt;
        font-weight: bold;
        padding-bottom: 25px;
        padding-top: 25px;
        color: black;
    }

    .content p {
        font-size: 11pt;
        font-weight: 400;
        text-align: center;
        color: #000;
    }



    
      



    
    /*Styling footer*/

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap; 
        padding: 2rem;
        background-color: #000;
        color: #fff;
        width: 100%;
    }

    .footer-content1, .footer-content2 {
        flex: 1 1 300px;
        max-width: 50%;
        padding: 1rem;
    }

    .footer-content2 h4 {
        font-size: 10pt;
        padding-top: 20px;
    }

    .logo-footer {
        height: 100px;
    }

    .footer-content1 p {
        font-size: 9pt;
    }


    .footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 9pt;
    }
      
    .footer li {
        margin-bottom: 0.5rem;
    }
      
    .footer a {
        color: #fff;
        text-decoration: none;
    }
      
    .social-icons {
        display: flex;
        margin-top: 1rem;
    }
      
    .social-icons button {
        background: none;
        border: none;
        font-size: 10pt;
    }
      
    .copyright {
        text-align: center;
        width: 100%;
        margin-top: 50px;
        font-size: 9pt;
    }

}






/*---Styling desktop*/

@media screen and (min-width:800px) {
    
    /*Styling header block*/

    .colour-bar {
        background-color: black;
        width: 100%;
        height: 30px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .colour-bar p {
        color:white;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 1px;
        padding-top: 17px;
    }



    /*Styling navbar*/
    
    .logo-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1rem; 
    }

    .logo {
        width: 85px;
        height: auto;
        display: block;
        float: left;
    }

    .banner {
        max-width: 1200px;
        margin: auto;
        text-align: center;
    }

    .navbar {
        margin: auto 0;
        padding-top: 45px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 40px;
        flex-wrap: wrap;
    }

    .navbar ul {
        list-style-type:none;
        margin: 0;
        padding: 0;
        text-align: right;
    }

    .navbar li {
        display: inline-block;
        margin-left: 10px;
        padding: 15px;
    }

    .navbar a {
        text-decoration:none;
        color: black;
        font-weight: 400;
        font-size: 10pt;
    }

    .navbar a:hover {
        color: #ef512b;
        border-bottom: #ef512b 2px solid;
    }

    .bymariacortez {
        text-align: left;
        font-size: 6.5pt;
        font-weight: 400;
        color: black;
        margin-top: 13px;
    }



    /*Styling H1 and H4*/

    .content {
        width: 60%;
        margin: auto;
    }

    .content h1 {
        font-size: 20pt;
        font-weight: bold;
        text-align: center;
        padding-bottom: 25px;
        padding-top:25px;
        color: #000;
    }

    .content p {
        font-size: 13pt;
        font-weight: 500;
        text-align: center;
        color: #000;
    }

    .content h3 {
        color: #000;
        font-size: 12pt;
        text-align: start;
    }

    .content h4 {
        color:#515151;
        font-size: 11pt;
        font-weight: 400;
    }



    
      
      
























    /*Styling footer*/

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap; 
        padding: 2rem;
        background-color: #000;
        color: #fff;
        width: 100%;
    }

    .footer-content1, .footer-content2 {
        flex: 1 1 300px;
        max-width: 50%;
        padding: 1rem;
    }

    .footer-content2 h4 {
        font-size: 19px;
        padding-top: 20px;
    }

    .logo-footer {
        height: 100px;
    }

    .footer-content1 p {
        font-size: 15px;
    }


    .footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 13px;
    }
      
    .footer li {
        margin-bottom: 0.5rem;
    }
      
    .footer a {
        color: #fff;
        text-decoration: none;
    }
      
    .footer a:hover {
        text-decoration: underline 1.5px solid;
    }
      
    .social-icons {
        display: flex;
        gap: 0.5rem;
        margin-top: 1rem;
    }
      
    .social-icons button {
        background: none;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
    }
      
    .copyright {
        text-align: center;
        width: 100%;
        margin-top: 50px;
        font-size: 13px;
    }

}