body {
    font-family:'Poppins', sans-serif;
}


/*---Styling mobile*/

@media screen and (max-width:799px) {

}






/*---Styling desktop*/

@media screen and (min-width:800px) {
    
    /*Styling header block*/

    .colour-bar {
        background-color: black;
        width: 100%;
        height: 30px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .colour-bar p {
        color:white;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 1px;
    }



    /*Styling navbar*/

    .logo {
        width: 85px;
        height: auto;
        display: block;
        float: left;
    }

    .banner {
        max-width: 1200px;
        margin: auto;
        text-align: center;
    }

    .navbar {
        margin: auto 0;
        padding-top: 45px;
    }

    .navbar ul {
        list-style-type:none;
        margin: 0;
        padding: 0;
        text-align: right;
    }

    .navbar li {
        display: inline-block;
        margin-left: 10px;
        padding: 15px;
    }

    .navbar a {
        text-decoration:none;
        color: black;
        font-weight: 400;
        font-size: 10pt;
    }

    .navbar a:hover {
        color: #ef512b;
        border-bottom: #ef512b 2px solid;
    }

    .bymariacortez {
        text-align: left;
        font-size: 7pt;
        font-weight: 400;
        color: black;
    }

/*STYLED UNTIL HERE*/

    /*Styling main*/

    .content {
        max-width: 1200px;
        margin: auto;
        text-align: center;
    }

    .part1 h1 {
        font-size: 19pt;
        font-weight: bold;
    }

    .part1 p {
        font-size: 10px;
    }
    
    /*.line {
        border-bottom: 3px solid #ef512b;
        width: 80px;
        margin: 0 auto;
        
    }*/




    

}